/* 
   this css is based on:
	   project: internet services template
	   author: luka cvrk (www.solucija.com) */

/* default styles
   -------------- */
.listLine {
    height:1px;
    border:0;
    background-color:#ccc;
    margin: 6px 0px;
}

.authorizationLinksList {
	float:right;
	margin-top:-4px;
}

#listMainMenu {
	width:940px;
	margin:0 auto;
	color:#fff;
	margin-top:10px;
}

.mmlEmpty {
	float:left;
	 
	padding:12px;
	margin-top:-9px;
}

.mmlEmptyRight {
	border-right:0;
	
}

.mainMenuListList {
	margin-left:-39px;
	font-weight:bold;
	float:left;
	list-style-type: none;
}

.mainMenuListItem {
	float:left;
	margin-top:3px;
}

.mainMenuOption {
	float:left;
	color:#fff !important;
	padding:12px;
	margin-top:-12px;
}



#mainBaner {
	width:100%;
	height:70px;
	margin-top:0px;
	font-size:1.3em;
	background:#c7d9d4 url('../images/main-menu-back.png') repeat-x;
	margin-bottom:0px;	
}

#mainBanerLeft {
	background:url('../images/main-menu-back-left.png') no-repeat;
	float:left;
	height:90px;
	width:150px;
}

#mainBanerCoin {
	float:left;
	margin-right:10px;
	margin-top:8px;
}

#mainBanerLanguages {
	float:right;	
}

#mainBanerIn {
	width:940px;
	margin:0 auto;
}

#mainBanerIn h1 {
	float:left;
	margin-top:12px;
	*margin-top:-6px; /* IE7 hack */
	font: 17pt verdana;
	font-weight:800;
	text-shadow:1px 1px 1px #000;
}

#mainBanerIn h1 a {
	color:#858f8c;
}

a.mainMenuOption:hover {
	border-top:2px solid #FF5F3F;
	text-shadow:0px 0px 5px #fff;
}

#mainMenu {
	background:url('../images/main-menu-back.png') 0px -70px repeat-x;
	width:100%;
	height:55px;
	left:0px;
	margin-bottom:10px;
	overflow:hidden;
}

.sh_button {
	float:right;
	margin-right:5px;
	/* IE 7 hack: invalid CSS */
	*margin-top:-20px;
}


body {
	padding: 0;
	margin: 0;
	font: 10pt "trebuchet ms", tahoma, sans-serif;
	line-height: 1.5em;
	background: #d2e2ef;
	color: #414141;
}

a {
	color: #617ca2;	
}

a:hover {
	color: #7389B4;
	background: inherit;
	text-decoration: none;
}

li {
	color: inherit;

}

h1 {
	font: normal 2.1em Arial, Sans-Serif;
	letter-spacing: -1px;
	padding: 7px 0 0 8px;
	margin: 0;
}

h1 a,h2 a {
	text-decoration: none;
}

h1 a:hover,h2 a:hover {
	color: #FF8000;
	background: inherit;
}

h2 {
	margin: 0;
	padding: 0;
	font: bold 1.7em Arial, Sans-Serif;
	letter-spacing: -1px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 5px;
	color: #000;
	background: inherit;
}
/*
p {
	margin: 0 0 5px 0;
}
*/
.btn.login {
	background-color: #626262;
	background-image: -moz-linear-gradient(center top , #8d8c8c, #626262);
}

/* wizard */
#wizardActions, #wizardHeader {
    padding-left: 250px;
}

.selectedStep {
    border-bottom: solid 1px #FF5F3F;
}  

table.resourceList td.checkbox {
    width: 20px;
}

table.resourceList td.title label {
    float: none;
}

table.resourceList td.link {
    width: 50px;
}

#progressMeter {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* layout
   ------ */
.content {
	margin: 0 auto;
	margin-bottom: 10px;
	/*	width: 960px;*/
	padding: 0 0px;
	padding-top: 8px;
	background: #fff url('../images/bottomback.gif') bottom repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px #ccc;
	-moz-box-shadow: 0px 0px 15px #ccc;
	-webkit-box-shadow: 0px 0px 15px #ccc;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#cccccc',
		direction='120', strength='7' );
}
/* left side
   --------- */
.inspan4 {
	width: 205px;
	margin-left: 10px;
}

.inspan12 {
	width: 680px;
	margin-left: 10px;
}

.inspan16 {
	width: 920px;
	margin-left: 10px;
}

.simple_left_box a {
	color: #617c47;
}

.simple_left_box {
    padding-left: 15px;
    padding-right: 15px;
}

.simple_left_box ul li {
	list-style-image: url("../images/expanded.gif");
}

.left_box h3 {
	clear: both;
	color: #fff;
	padding: 7px 0 7px 10px;
	font: bold 1.1em Tahoma, Arial, Sans-Serif;
	margin: 0px 0px 0px 0px;
	text-shadow: 1px 1px 1px #555;
	
	background-color: #a6b1ae;
    background-image: -moz-linear-gradient(center top , #bcc9ce, #a6b1ae);
    background-repeat: repeat-x;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    border-radius: 6px 6px 0px 0px;
}

.left_box > div {
	margin: 0 0 10px 0;
	color: #414141;
	border: 1px solid #ddd;
	border-top: none;
	padding-top: 12px;
	padding-bottom: 12px;
	-moz-box-shadow: 1px 1px 15px #ddd;
	-webkit-box-shadow: 1px 1px 15px #ddd;
	box-shadow: 1px 1px 15px #ddd;
}

div.separated {
	border-right: 1px dashed #BBBBBB;
}

hr.separation {
	border-top: 1px dashed #BBBBBB;
	border-bottom:none;
    border-left:none;
    border-right:none;
}

.filetree a.folder {
    background: url("../images/folder.gif") no-repeat scroll 0 0 transparent;
}

.filetree li.expandable a.folder {
    background: url("../images/folder-closed.gif") no-repeat scroll 0 0 transparent;
}

.filetree a.workflow {
    background: url("../images/workflow.png") no-repeat scroll 0 0 transparent;
}

.filetree a.file {
    background: url("../images/file.png") no-repeat scroll 0 0 transparent;
}

.filetree a.external {
    background: url("../images/external.png") no-repeat scroll 0 0 transparent;
}

.filetree a.icon  { 
    padding: 1px 0 1px 20px; 
    display: block; 
}

.filetree li.selected > a.icon, tr.selected > td {
    background-color: #FDF5D9 !important;
    border: 1px solid #FCEEC1 !important;
}

/* footer
   ------ */
.footer {
	clear: both;
	text-align: center;
	padding: 20px 0 20px 0;
	margin: 0px;
	border-top: 1px solid #ccc;
	line-height: 1.8em;
}

.footer a {
	color: #808080;
}

/* feedback */

ul.feedbackPanel {
	margin: 0;
}

.feedbackPanel span.alert-message {
	border: none;
	box-shadow: none;
}
